build
out
.DS_Store
*.swp
.profile
.project
.classpath
_*
*.iml
**/.idea/*
!**/.idea/copyright
.gradle
.svn
.deps

local.properties

libs
captures
.externalNativeBuild
.cxx
**/native/obj

*.ysym

!common/src/test/resources/elf-fixtures/*.so
