*.iml
.gradle
local.properties
.idea/*
!.idea/copyright
.DS_Store
build
libs
captures
.externalNativeBuild
.cxx

*.swp
.profile
.project
.classpath
_*
.svn
.deps

local.properties

native/libs
native/obj
